<%- include("partials/header.ejs") %>

<div class="body">
<h2 id="head">About US</h2>

<p>We are a group of professionals with great appreciation of elegant code.</p>
</div>

<%- include("partials/footer.ejs") %>