<%- include("partials/header.ejs") %>

<div class="body">`
<h2 id="head">No news yet..</h2>

<p>This is a test.This is a test.This is a test.This is a test.This is a test.This is a test.This is a test.This is a test.This is a test.</p>
</div>

<%- include("partials/footer.ejs") %>