<!DOCTYPE html>
<html>
<head>
<title>Blog Web</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Merriweather+Sans:wght@300&family=Spectral:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
<link rel="icon" href="images/favicon.png">
</head>
<body>


<div class="navbar">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
</div>



<div class="body">




<% results.forEach(element =>{ %>
<h2 id="head"><%=element.title%></h2>
<img src = "images/<%=element.image%>" height="300px" width="600px">
<p><%=element.body%></p>
<% }) %>


</div>




<footer class="footer">
<p>Made by Mitaksh</p>
</footer>

<script src= "index.js"></script>
</body>
</html>