<%- include("partials/header") -%>

<form action="/compose" method="post">
<label>Title:</label><br>
<input type="text" name="title"><br>
<label>Content:</label><br>
<textarea row="30" col="60" name="content"></textarea><br>
<button type="submit">Submit</button><br>
<form>

<%- include("partials/footer") -%>